.footer {
  /* border: 3px solid black; */
  /* height: 20rem; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f3f2f0;
}

.container2{
display: flex;
justify-content: space-evenly;
width: 80%;
}

.footer_logo_box {
  /* border: 3px solid red; */
  /* width: 25%; */
}

.footer_logo {
  margin: 2rem;
  width: 7rem;
}

.footer_list_cont {
  /* border: 3px solid red; */
  margin: 2rem 0;
  padding: 0.5rem;
}
.footer_list_heading {
  font-size: 1rem;
}
.footer-list {
  cursor: pointer;
  list-style: none;
  text-align: left;
  padding: 0;
  color: #666666;
  font-size: 0.85rem;
}
.footer-list li {
  margin: 0.2rem 0;
}
.footer-list li:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
