*{
  padding: 0;
  margin: 0;
}
.app {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  /* max-height: 100vh; */
  position: relative;
  
}
.container1 {
  /* border: 3px solid red; */
  max-width: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
